<div class="container text-center py-6 center-image-container" style="max-width:100%;height:100vh">
</div>
<div class="row">
  <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
    <img src="my-image.jpg" class="img-fluid rounded" style="height:70%;border-radius: 50% !important;"
      alt="Profile Picture">
  </div>
  <div class="col-lg-4 mx-auto"></div>
  <div class="justify-content-center align-items-center text-center">
    <h1>About me</h1>
    <p class="lead" style="padding-left: 10%;padding-right: 10%;">Hi, I am Isha Sharma, a passionate Software
      Developer with <b>3+ years</b> of experience specializing
      in building scalable Java-based
      microservices.
      I am proficient in <b>SpringBoot</b>, <b>Java</b>
      , and <b>JUnit</b> and skilled in
      <b>Data Structures</b>, <b>OOPs Concepts</b> and
      <b>Algorithms</b>.
    </p>
    <p>I love solving complex problems and building high-quality software solutions.</p>
  </div>
</div>