<div class="container py-6 center-image-container" style="max-width:100%;height:100vh">
</div>
<div class="container my-5" class="custom-container">
  <h3 class="text-center mb-4">Work Experience</h3>
  <div class="accordion mx-auto" id="experienceAccordion" style="max-width: 75%;padding-top: 1rem;">
    <ng-container *ngFor="let job of experiences; let i = index">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ i }}">
          <button class="accordion-button d-flex align-items-center collapsed" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + i" [attr.aria-expanded]="false" [attr.aria-controls]="'collapse' + i">
            <span class="flex-grow-1">{{ job.company }} - {{ job.role }}</span>
            <span class="text-muted ms-auto">{{ job.duration }}</span>
          </button>
        </h2>
        <div id="collapse{{ i }}" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
          data-bs-parent="#experienceAccordion">
          <div class="accordion-body">
            <h5>{{ job.role }}</h5>
            <p><strong>Company:</strong> {{ job.company }}</p>
            <p><strong>Duration:</strong> {{ job.duration }}</p>
            <p><strong>Responsibilities:</strong></p>
            <ul>
              <li *ngFor="let responsibility of job.responsibilities">
                {{ responsibility }}
              </li>
            </ul>
            <p><strong>Technologies Used:</strong> {{ job.technologies.join(', ') }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>