.navbar {
    background-color: #f8f9fa;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.25rem;
  }
  
  .nav-link {
    color: #555 !important;
    font-size: 1rem;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #333 !important;
  }
  
  .active-link {
    color: #024996e0 !important; /* Adjust color to fit your theme */
    font-weight: bold;
  }
  